body{
    font-family: sans-serif;
    text-align: center;
    background-color: burlywood;
}

.line{
    height: 6px;
    background-color: black;
    width: 400px;
    margin: 8px auto;
}

#apps{
    background-color: cornflowerblue;
}

#games{
    background-color: gainsboro;
}

#chatbot{
    background-color: teal;
}